.about-container {

  .media-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
  }

  .media-icon {
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .quote-container {
    width: 90%;
    margin: 1em auto;
    padding: 1em;
    max-width: 1300px;
  }

  .team-container {
    margin: 1em auto;
    width: 90%;
    max-width: 1300px;
  }

  .team-members-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #bdbdbd4e 26% / 0.537;
  }

  .member-container {
    width: 100%;
    margin: 1em;
    padding: 1em;
    display: flex;
    gap: 1em;
    align-items: center;
  }

  .align-left {
    flex-direction: row;
    text-align: left;
  }

  .align-right {
    flex-direction: row-reverse;
    text-align: right;
  }

  .about-person-image {
    max-width: 300px;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    margin-inline: 1em;
  }

  .about-person-details-container {
    margin-top: 1em;
    max-width: 750px;
  }

  .subchannel-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;
    width: 80%;
    margin: 0.5em auto;
  }

  .subchannel-item {
    display: flex;
    min-width: 30%;
    padding: 2em;
    background: white;
    border-radius: 20px;
    margin: 0.5em;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .subchannel-item:hover {
    transform: scale(1.01);
    transition: transform 0.1s ease-in-out;
  }

  .subchannel-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1em;
  }
}

/* PHONE CONTENT */

.mobile-about-container {
  padding: 1em;
  margin-top: 2em;

  .team-members-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .member-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-person-image {
    max-width: none;
    width: 100%;
  }

  .about-person-details-container {
    width: 90%;
  }

  .subchannel-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }

  .subchannel-item {
    display: flex;
    flex-direction: column;
    width: 45%;
    text-align: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 20px;
    margin: 1em auto;
    padding: 1em;
  }

  .subchannel-logo {
    width: 80%;
    border-radius: 50%;
    margin-bottom: 1em;
  }
}

