.quote-container {
  width: 90%;
  margin: 1em auto;
  padding: 1em;
  max-width: 1300px;
}

.team-container {
  margin: 1em auto;
  width: 90%;
  max-width: 1300px;
}

.team-members-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #bdbdbd4e 26% / 0.537;
}

.member-container {
  width: 100%;
  margin: 1em;
  padding: 1em;
  display: flex;
  gap: 1em;
  align-items: center;
}

.align-left {
  flex-direction: row;
  text-align: left;
}

.align-right {
  flex-direction: row-reverse;
  text-align: right;
}

.about-person-image {
  max-width: 300px;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  margin-inline: 1em;
}

.about-person-details-container {
  margin-top: 1em;
  max-width: 750px;
}


/* PHONE CONTENT */

.mobile-about-container {
  padding: 1em;

  .about-text-explainers {
    display: flex;
    flex-direction: column;
  }

  .about-text-explainer {
    margin: 0;
    margin-bottom: 2em;
  }

  .team-members-container {
    margin: 0;
    display: flex;
  }

  .member-container {
    width: 90%;
    margin: 0;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-person-image {
    max-width: none;
    width: 100%;
  }

  .about-person-details-container {
    width: 90%;
  }
}

