.all-articles-container {
  padding: 1em;
}

.all-articles-content {
  width: 80%;
  margin: 1em auto;
}

.item-bar {
  display: flex;
  justify-content: space-between;
  margin-inline: 2em;
}

.back-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter-container {
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  overflow: hidden;
}

.all-articles-filter-text {
  margin: 0.5em;
  cursor: pointer;
}

.all-articles-selected-filter-text {
  font-weight: bold;
  text-decoration: underline;
}

.searchbar-container {
  position: relative;
  width: 300px;
}

.searchbar {
  height: 35px;
  width: 100%;
  border-radius: 20px;
  padding: 10px 10px 10px 40px; /* Add padding to make space for the icon */
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.searchbar::placeholder {
  color: #aaa;
}

.searchbar-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("../../../public/images/search-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.all-articles-container {
  width: 100%;
}

.all-article-container {
  width: 100%;
  margin-block: 3em;
  padding: 1em;
  display: flex;
  border: 3px solid black;
  border-radius: 20px;
}

.all-article-container:hover {
  .all-articles-article-image {
    filter: brightness(70%);
  }
}

.all-articles-article-image {
  width: 40%;
  max-width: 500px;
  border-radius: 20px;
  border: 3px solid black;
  transition: all 0.1s;
}

.all-articles-side-content {
  margin: 0 auto;
  width: 50%;
  height: 100%;
}

.all-articles-article-text-content {
  max-height: 200px;
  overflow: hidden;
}

.all-articles-article-paragraph {
}
