.all-videos-container {
  padding: 1em;
}

.all-videos-content {
  width: 80%;
  margin: 1em auto;
}

.all-videos-control-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-container-features {
  display: flex;
}

.video-search-quicklinks {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.video-quicklink {
  padding: 0.3em;
  padding-inline: 1em;
  margin-inline: 0.5em;
  border: 2px solid black;
  border-radius: 20px;
  transition: all 0.1s;
}

.video-quicklink:hover {
  box-shadow: 2px 2px;
  transform: translate(-2px, -2px);
  cursor: pointer;
}

.back-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.all-videos-video-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 1em;
}

.all-videos-video {
  width: 30%;
  overflow: hidden;
  margin: 1em;
}

.mobile-all-videos-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  padding-top: 2em;

  .mobile-article-container {
    margin: 1em;
  }

  .mobile-video-thumbnail {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    aspect-ratio: 16/9;
  }
}