.articles {
  width: 100;
}

.article-content {
  width: 60%;
  padding: 2em;
  margin: 1em auto;
}

.article {
  padding: 1em;
  width: 100%;
  margin: 1em;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
}