.article-manager-content {
  width: 60%;
  margin: 1em auto;
}

.article-div {
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.article-button-container {
  display: flex;
}

.visibility-selector {
  margin-right: 1em;
}

.status-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 0.5em;
}
