.article-display-container {
  padding: 1em;
}

.article-display-content {
  width: 80%;
  margin: 1em auto;
}

.post-content-container {
  width: 60%;
  margin: 0 auto;
}

.post-content {
  margin: 2em auto;
  width: 80%;
}

.article-share-and-download-container {
  display: flex;
  cursor: pointer;
}

.article-share-icon {
  width: 35px;
  margin-right: 0.7em;
}

.article-display-control-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.article-share-button {
  display: flex;
  align-items: center;
  margin-inline: 1em;
}

.article-main-image {
  width: 100%;
  border-radius: 25px;
  object-fit: cover;
  max-height: 350px;
  border: 5px solid black; 
}

.article-image-title-container {
  width: 100%;
}

.article-display-main-article-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 20pt;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

/* MOBILE SECTION */

.article-display-mobile-container {
  padding: 1em;
}
