body {
  background: #F4F2EE;
}

.mobile-base-profile-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid #ddd;
}

.profile-picture-container {
  position: fixed;
  right: 1em;
  top: 1em;
  margin-top: 5px;
  z-index: 1000;
}