.home {
  display: flex;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;

  .home-sidebar-container {
    position: sticky;         
    top: 6em;                   
    width: 400px;
    height: fit-content;
  }

  .home-sidebar {
    margin: 1em;
    padding: 1em;
    background: white;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .home-sidebar::-webkit-scrollbar { 
    display: none; 
  } 

  .post-content {
    max-width: 600px;
    margin: auto;
  }
  
  .home-post {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 1em;
    max-height: 450px;
    background: white;
  }

  .video-post {
    background: white!important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .home-post-insta {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 1em;
  }

  .filter-option {
    display: flex;
    align-items: center;
    margin: 0.5em 0;
    cursor: pointer;
    border-radius: 3px;
    padding: 0.5em 1em;
  }

  .filter-option:hover {
    background-color: #f0f0f0;
  }

  .home-post:hover {
    background-color: #e0e0e0;
  }

  .home-article-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 1em;
  }
  
  .video-cropper {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .home-article-thumbnail {
    width: 100%;
    border-radius: 20px;
  }
  
  .home-video-thumbnail {
    width: 100%;
    border-radius: 20px;
  }

  .home-sidebar-article-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
  }

  .truncated-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 75%;
  }

  .load-more-container {
    text-align: center;
  }

  .load-more-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.75em 1.5em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }

/* 
  .ad-slot {
    width: 100%;
    max-width: 100px;
    margin: 1em auto;
    overflow: hidden;
  } */
}

.mobile-feed-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 600px;
  margin: 1em auto;

  .home-mobile-post {
    max-width: 100%;
    overflow: hidden;
  }

  .home-mobile-article-thumbnail {
    max-width: 100%;
    height: auto;
  }

  .video-cropper {
    position: relative;
    clip-path: inset(30px 0 35px 0);
  }

  .home-mobile-video-thumbnail {
    width: 100%;
  }

  .video-thumbnail-title {
    position: relative;
    top: -30px;
  }

  .home-mobile-article-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
  }

  .home-post-insta {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 2em;
  }
}