.home {
  display: flex;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;

  .home-sidebar {
    display: inline-block;
    width: 400px;
    max-height: 80vh;
    overflow-y: scroll;
    margin: 1em;
    padding: 1em;
    background: white;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .home-sidebar::-webkit-scrollbar { 
    display: none; 
  } 

  .post-content {
    max-width: 600px;
    margin: auto;
  }
  
  .home-post {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 1em;
    max-height: 450px;
  }

  .video-post {
    background: white!important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .home-post-insta {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 1em;
  }

  .filter-option {
    display: flex;
    align-items: center;
    margin: 0.5em 0;
    cursor: pointer;
    border-radius: 3px;
    padding: 0.5em 1em;
  }

  .filter-option:hover {
    background-color: #f0f0f0;
  }

  .home-post:hover {
    background-color: #f0f0f0;
  }

  .home-article-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 1em;
  }
  
  .video-cropper {
    width: 100%;
    position: relative;
    top: -50px;
    overflow: hidden;
    clip-path: inset(13% 0 13% 0);
  }

  .video-thumbnail-title {
    position: relative;
    top: -100px;
  }
  
  .home-article-thumbnail {
    width: 100%;
    border-radius: 20px;
  }
  
  .home-video-thumbnail {
    width: 100%;
    border-radius: 20px;
  }

  .home-sidebar-article-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
  }

  .truncated-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 75%;
  }

/* 
  .ad-slot {
    width: 100%;
    max-width: 100px;
    margin: 1em auto;
    overflow: hidden;
  } */
}

.mobile-feed-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 600px;
  margin: 1em auto;

  .home-mobile-post {
    max-width: 100%;
    overflow: hidden;
  }

  .home-mobile-article-thumbnail {
    max-width: 100%;
    height: auto;
  }

  .video-cropper {
    position: relative;
    clip-path: inset(30px 0 35px 0);
  }

  .home-mobile-video-thumbnail {
    width: 100%;
  }

  .video-thumbnail-title {
    position: relative;
    top: -30px;
  }

  .home-mobile-article-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
  }

  .home-post-insta {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 2em;
  }
}