.home {
  justify-content: center;
}

.top-home-content {
  padding: 3em; 
  width: 90%; 
  margin: 0 auto;
  display: flex;
  min-height: 300px;
}

.eums-box-shadow {
  border: 2px solid black;
  box-shadow: 5px 5px;
  border-radius: 20px;
}

.video-container {
  width: 30%;
}

.video-item {

}

.article-container {
  width: 70%;
  background: white;
  border-left: 0;
}

.other-articles {
  display: flex;
  justify-content: space-evenly;
}