.home {
  display: flex;
  justify-content: center;

  .home-options-container {
    width: 100%;
    min-width: 400px;
    max-width: 400px;
    padding: 1em;
  }
  
  .home-options {
    display: flex;
    position: fixed;
    flex-direction: column;
    margin: 1em 1em;
    padding: 1em;
    background-color: #f0f0f0;
    max-width: 400px;
    min-width: 400px;
    border-radius: 20px;
    z-index: 1000;
    height: 80vh;

    .home-options-title {
      margin-bottom: 0.5em;
    }

    .home-category-buttons-container {
      display: flex;
      flex-direction: column;
    }

    .home-category-botton {
      padding: 0.75em;
      border-radius: 15px;
      padding-left: 1em;
      margin-block: 0.5em;
      cursor: pointer;
      border: none;
      text-align: left;
      font-size: 12pt;
    }

    .home-category-botton:hover {
      background-color: aliceblue;
    }

    .home-category-botton-active {
      background-color: #003366!important;
      color: white!important;
    }
  }

  .post-content {
    max-width: 700px;
    margin: 1em auto;
  }
  
  .home-post {
    width: 100%;
    max-width: 700px;
    border-radius: 20px;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 1em;
    max-height: 450px;
  }

  .home-post:hover {
    background-color: #f0f0f0;
  }
  
  .video-cropper {
    width: 100%;
    position: relative;
    top: -50px;
    overflow: hidden;
    clip-path: inset(13% 0 13% 0);
  }

  .video-thumbnail-title {
    position: relative;
    top: -100px;
  }
  
  .home-article-thumbnail {
    width: 100%;
    border-radius: 20px;
  }
  
  .home-video-thumbnail {
    width: 100%;
    border-radius: 20px;
  }

  .ad-slot {
    width: 100%;
    max-width: 100px;
    margin: 1em auto;
    overflow: hidden;
  }
}
