.login-page {
  display: flex;
  justify-content: center;
}

.login-container {
  max-width: 600px;
  padding: 2em;
  width: 100%;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 1em;
  color: #333;
}

.login-container input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 12px;
  font-size: 16px;
}

.login-container span {
  font-weight: bold;
  display: block;
  font-size: 0.9em;
  color: #555;
}

.login-component-div {
  margin-bottom: 2em;
}

