.login-page {
  display: flex;
  justify-content: center;
}

.login-container {
  max-width: 600px;
  padding: 2em;
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 1em;
  color: #333;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 0.9em;
  color: #555;
}

.login-component-div {
  margin-bottom: 2em;
}