.newsletter-signup-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  border-radius: 8px;

  .hot-topics-button {
    cursor: pointer;
  }
}

.newsletter-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #333;
}

.newsletter-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.newsletter-form {
  display: flex;
  align-items: center;
  gap: 1em;
}

.newsletter-input {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1rem;
  margin: auto;
  margin-right: 0.5em;
}

.newsletter-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.newsletter-button:hover {
  background-color: #0056b3;
}
