.register-page-container {
  .register-form {
    background: white;
    padding: 2em;
    border-radius: 8px;
    width: 40%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 1em auto;
  }
  
  .register-form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  
  .register-form input,
  .register-form select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 12px;
    font-size: 16px;
  }
  
  .register-form button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-form button:hover {
    background-color: #0056b3;
  }

  .profile-preview {
    width: 100px;
    margin: 0 auto;
    border-radius: 50%;
  }

  .input-checkbox {
    transform: scale(1.5);
    margin: 0.5em;
  }
    
}