.navbar {
  width: 100vw;
  min-width: 100vw;
  display: flex;
  height: 20vh;
  min-height: 10em;
  align-items: center;
  flex-direction: column;
  background-size: 100% auto; /* Ensures the image zooms and cuts itself */
  background-position: center calc(max(120%, -175px)); /* Keeps it fixed */
  background-repeat: no-repeat;
  overflow: hidden;
}

.navlink-container {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 70px;
}

.left-content {
  display: flex;
  justify-content: first baseline;
}

.right-content {
  display: flex;
  align-items: center;
}

.text-nav {
  color: white;
  margin-left: 4em;
  display: flex;
  align-items: center;
}

.text-nav:hover {
  color: #ffcc00;
}

.bold-text-nav {
  font-weight: bold;
  color: #ffcc00;
}

.nav-img-container {
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 1em;
}

.navbar-logo {
  height: 35px;
  padding-bottom: 5px;
  width: auto;
}

/* #### MOBILE VIEW #### */

.navbar-logo-mobile {
  width: 60%;
  margin: 1em auto;
}

.mobile-navbar-link-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60%;
}

.text-nav-mobile {
  font-size: 22px;
  color: white;
  margin: 0.5em;

}

.bold-text-nav-mobile {
  font-weight: bold;
}

.mobile-navbar-container {
  width: 100%;
  height: 100%;
  background: #003366; 
  position: fixed;
  z-index: 9;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out; 
}

.mobile-navbar-container.active {
  transform: translateX(0); /* Bring into view */
}