.footer {
  margin-top: 2em;
  width: 100%;
  justify-content: center;
  background: #e0e0e0;
  padding: 3em;


  .footer-content {
    width: 50%;
    text-align: center;
    margin: 1em auto;

  }

  .footer-title {
    color: #112673;
    font-size: 64px;
    margin: 0.5em;
  }

  .menu-item {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    color: #003366;
    font-size: 16px;
  }

  .menu-item:hover {
    color: #ffcc00;
  }

  .footer-link-container {
    display: flex;
    justify-content: space-around;
    padding-inline: 2em;
    margin-bottom: 4em;
  }

  .mobile-footer {
    height: 30vh;
    text-align: center;
    padding: 1em;
    background: #e0e0e0;
  }

  .mobile-footer-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .mobile-footer-link-container {
    display: flex;
    flex-direction: column;
  }


  .bottom-home-content {
    padding-inline: 3em; 
    margin: 0 auto;
    display: flex;
    min-height: 300px;
    margin-bottom: 3em;
    margin-top: 2em;
    gap: 3em;
  }

  .media-links-container {
    width: 25%;
    padding: 1em;
    justify-content: space-around;
  }


  .media-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .media-icon {
    width: 21%;
    margin-bottom: 1em;
  }

  .support-container {
    width: 70%;
    padding: 1em;
    padding-left: 3em;
    border: 2px solid var(--box-shadow-color);
  }

  .support-content {
    margin-top: 1em;
  }

  .bottom-content {
    margin-top: 1em;
    display: flex;
  }

  .split-content {
    width: 50%;
  }

  .split-content:first-child {
    border-right: 1px solid black;
  }

  .color-button {
    padding: 0.5em 1em;
    border-radius: 25px;
    font-size: 12pt;
    color: white;
    border: none;
    background: linear-gradient(to right, yellow, red);
  }

  .color-button:hover {
    cursor: pointer;
  }
}

.sub-title {
  color: white;
  font-weight: bold;
  font-size: 20pt;
}